* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #ffebd1;
    color: #d50248;
}

header {
    background: #86f586;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}